# Compiled source #
###################
*.com
*.class
*.dll
*/bin
*/obj

# Logs and databases #
######################
*.log

# Packages #
######################
packages

# Visual Studio########
######################
.vs